/* Branches page */

table.supportedversions tr.eol td:first-child {
	background: #930000;
	color: white;
}

table.supportedversions tr.security td:first-child {
	background: #fceaae;
}

table.supportedversions tr.stable td:first-child {
	background: #c3e2c5;
}

table.supportedversions tr.future td:first-child {
	background: #edcbdc;
}

@media (max-width: 767px) {
	table.supportedversions th {
		font-size: 1rem;
	}

	table.supportedversions td.collapse-phone {
		padding: 0;
	}

	table.supportedversions td.collapse-phone * {
		display: none;
	}
}

svg.supportedversions {
	max-width: 100%;
	height: auto;
}

.version-notes {
  border: 0;
}
