[(#REM)
	Fournit la configuration système requise.

	Le parametre "state" (obligatoire) permet de renvoyer les versions stable, future, en fin de vie

	Le paramètre "limit" (2 par défaut) réduit le nombre de version à afficher par état

	Exemple <supportedversions|configuration|state=stable|limit=1>

	Attention : la condition d'affichage de données est que l'attribut "system" soit présent avec au moins
				une valeur ram ou freespace dans une branche

]<BOUCLE_branches(DATA){source table, #STATE|explode{","}|SupportedVersions::branchesByState}{par branch}{inverse}{0,#LIMIT|sinon{2}}>
	<B_system>
		<h3[ id="spip(#BRANCH|replace{\.})"]>SPIP #BRANCH</h3>
		[<div>
			<h4><:supportedversions:required:></h4>
			<ul>
				<li>
					<:supportedversions:php_compatibility:>&nbsp;:
					(#TECHNOLOGIES|table_valeur{require/php}|reset)[ -
					(#TECHNOLOGIES|table_valeur{require/php}|end)]
				</li>[
				<li>
					<:supportedversions:php_extensions:>&nbsp;: (#TECHNOLOGIES|table_valeur{require/php-ext}|sinon{#ARRAY}|SupportedVersions::configuration)
				</li>
			]</ul>
		</div>]

		<B_suggest>
			<div>
				<h4><:supportedversions:suggest:></h4>
				<ul>
					<BOUCLE_suggest(DATA){source table, #TECHNOLOGIES|table_valeur{suggest}}>
						<li>
							<:supportedversions:{=#CLE}:>
							<ul>
								<BOUCLE_suggestions(DATA){source table, #VALEUR}>
									#SET{min, #VALEUR|reset}
									#SET{max, #VALEUR|end}
									#SET{max, #GET{max}|=={#GET{min}}|?{'', #GET{max}}}
									#SET{min, #GET{min}|=={*}|?{'', #GET{min}}}
									<li>#CLE[&nbsp;: (#GET{min})[ - (#GET{max})]]</li>
								</BOUCLE_suggestions>
							</ul>
						</li>
					</BOUCLE_suggest>
				</ul>
			</div>
		</B_suggest>

		[<div>
			<h4><:supportedversions:provided:></h4>
			<ul>
				<li>(#TECHNOLOGIES|table_valeur{provide}|sinon{#ARRAY}|SupportedVersions::configuration{" v"})</li>
			</ul>
		</div>]

		<div>
			<h4><:supportedversions:system_needs:></h4>
			<ul>
				<BOUCLE_system(DATA){source table, #SYSTEM}>[
					<li><:supportedversions:{=#CLE}:>&nbsp;: (#VALEUR|taille_en_octets)</li>
				]</BOUCLE_system>
			</ul>
		</div>
	</B_system>
	[<p>(#STATE|strstr{future}|et{#TOTAL}|=={0}|oui)<:supportedversions:no_future_version:></p>]
	[<p>(#STATE|strstr{stable}|ou{#STATE|strstr{security}}|et{#TOTAL}|=={0}|oui)<:supportedversions:no_maintained_version:></p>]
	<//B_system>
</BOUCLE_branches>
