<BOUCLE_default_branch(DATA){source table, #VAL{stable}|SupportedVersions::getBranchesFromState}{par last_date_release}{inverse}{0,1}>
	#SET{default_branch, #LAST_VERSION_RELEASE|substr{0, 3}}
</BOUCLE_default_branch>
#SET{php, #ARRAY{master, 8.1.0}}
<BOUCLE_pre_releases(DATA){source json, #CHEMIN{data/pre_releases.json}}{branch=#VAL{future}|SupportedVersions::getBranchesFromState|table_valeur{0/branch}}>
	<BOUCLE_releases(DATA){source table, #PRE_RELEASES}{par released_at}{inverse}{0,1}>
		#SET{php, #GET{php}|array_merge{#ARRAY{#VERSION|substr{0, 3}, #VERSION|SupportedVersions::getBranchValues|table_valeur{technologies/require/php}|reset|concat{.0}}}}
	</BOUCLE_releases>
</BOUCLE_pre_releases>
<BOUCLE_stable(DATA){source table, #VAL{stable}|SupportedVersions::getBranchesFromState}{par last_date_release}{inverse}{0,2}>
	<BOUCLE_release_stable(DATA){source table, #RELEASES}{version=#LAST_VERSION_RELEASE}>
		#SET{php, #GET{php}|array_merge{#ARRAY{#VERSION|substr{0, 3}, #VERSION|SupportedVersions::getBranchValues|table_valeur{technologies/require/php}|reset|concat{.0}}}}
	</BOUCLE_release_stable>
</BOUCLE_stable>
<BOUCLE_security(DATA){source table, #VAL{security}|SupportedVersions::getBranchesFromState}{par last_date_release}{inverse}{0,2}>
	<BOUCLE_release_security(DATA){source table, #RELEASES}{version=#LAST_VERSION_RELEASE}>
		#SET{php, #GET{php}|array_merge{#ARRAY{#VERSION|substr{0, 3}, #VERSION|SupportedVersions::getBranchValues|table_valeur{technologies/require/php}|reset|concat{.0}}}}
	</BOUCLE_release_security>
</BOUCLE_security>
<BOUCLE_eol(DATA){source table, #VAL{eol}|SupportedVersions::getBranchesFromState}{par last_date_release}{inverse}{0,2}>
	<BOUCLE_release_eol(DATA){source table, #RELEASES}{version=#LAST_VERSION_RELEASE}>
		#SET{php, #GET{php}|array_merge{#ARRAY{#VERSION|substr{0, 3}, #VERSION|SupportedVersions::getBranchValues|table_valeur{technologies/require/php}|reset|concat{.0}}}}
	</BOUCLE_release_eol>
</BOUCLE_eol>
#SET{complement, #ARRAY{
	default_branch, #GET{default_branch},
	requirements, #ARRAY{
		php, #GET{php}}
}}
[(#GET{complement}|json_encode)]
#FILTRE{trim}
